<div class="modal">
    <div class="modal__box">
        <div class="header">
            <p class="title">{{vm.title}}</p>
        </div>

        <div class="content">
            <div ng-if="vm.errorMessage" class="alert alert-danger">{{vm.errorMessage}}</div>

            <div class="input-wrapper">
                <!--<select class="form-control" ng-model="vm.expenseData.categoryId">-->
                <!--<option ng-repeat="category in vm.categories" ng-value="category._id">{{category.name}}</option>-->
                <!--</select>-->

                <input type="text" class="form-control" ng-model="vm.categoryName" ng-click="vm.showCategories(true)">

                <div class="form-error-message" ng-if="vm.validationResult.categoryId.required">
                    This field is required!
                </div>

                <div class="categories-wrapper" ng-if="vm.categoryWindow">
                    <div class="category-item" ng-repeat="category in vm.categories" ng-click="vm.chooseCategory(category)">
                        <i class="icon-category icon-cat-sample"></i>
                        <p>{{category.name}}</p>
                    </div>
                </div>
            </div>

            <div class="input-wrapper">
                <input type="text" class="form-control" placeholder="Vendor" ng-model="vm.expenseData.vendor">
            </div>

            <div class="input-wrapper">
                <input type="number" class="form-control" placeholder="Amount" ng-model="vm.expenseData.amount">

                <div class="form-error-message" ng-if="vm.validationResult.amount.required">
                    This field is required!
                </div>
            </div>

            <div class="input-wrapper">
                <input type="date" class="form-control" placeholder="Expense Date" ng-model="vm.expenseData.expenseDate">

                <div class="form-error-message" ng-if="vm.validationResult.expenseDate.required">
                    This field is required!
                </div>
            </div>

            <textarea class="form-control" placeholder="Description" ng-model="vm.expenseData.description"></textarea>
        </div>

        <div class="footer">
            <button type="button" class="btn btn-primary" ng-click="vm.addExpense()">Save</button>
            <button type="button" class="btn btn-primary" ng-click="vm.closeModal()">Close</button>
        </div>
    </div>
</div>