.dashboard-configuration-view {
  max-height: 100%;
  overflow-y: auto;

  padding-right: 0;
  padding-left: 0;

  .dashboard-header {
    height: 104px;
    border-bottom: 2px solid $border-light-gray;
    padding: 0 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &__title {
      text-transform: uppercase;
      color: $font-gray;
      margin:0;
      font-size: 24px;
      font-weight: 700;
      margin-right: 50px;
    }

    &__filterbox {
      display: inline-flex;

      select {
        margin-right: 50px;
      }

      .month-select {
        min-width: 150px;
      }
    }

    &__add-button {
      display: inline-block;
    }

    &__add-button-mobile {
      display: none;
    }
  }

  .dashboard-main {

    &__expense-item {
      padding: 30px 20px 20px 20px;
      border-bottom: 1px solid $border-light-gray;

      &__icon-wrapper {
        .icon-category {
          width: 60px;
          height: 60px;
          display: block;
        }

        .icon-cat-sample {
          background: url(/assets/img/cat-icon.png);
        }
      }

      &__content {

        p {
          text-transform: uppercase;
          font-weight: 700;
          color: $font-gray;

          span {
            text-transform: none;
            font-weight: normal;
            padding-left: 10px;
          }
        }
      }
    }

    &__empty-info {
      text-align: center;
      padding: 30px;
      font-size: 18px;
    }
  }
}

.dashboard-condensed{
  padding-left: 0;
  padding: 20px;
  color: $font-white;
  height: 100%;

  background: -webkit-linear-gradient(#46cabd, #28a5b9); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#46cabd, #28a5b9); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#46cabd, #28a5b9); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#46cabd, #28a5b9); /* Standard syntax */

  h2 {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__category-info {

  }
}

@media (max-width: 768px) {
  .dashboard-configuration-view {
    max-height: none;
    overflow-y: visible;

    .dashboard-header {
      height: 60px;
      padding: 0;
      justify-content: space-around;

      &__title {
        display: none;
      }

      &__filterbox {
        display: inline-flex;

        select {
          margin-right: 20px;
        }

        .month-select {
          min-width: 120px;
        }
      }

      &__add-button {
        display: none;
      }

      &__add-button-mobile {
        display: inline-block;
      }
    }
  }
}