<div class="dashboard-configuration-view col-lg-9">
    <!--main content-->
    <div class="dashboard-header">
        <h2 class="dashboard-header__title">Expenses</h2>
        <div class="dashboard-header__filterbox">
            <select class="form-control month-select" ng-model="vm.selectedMonth" ng-options="month for month in vm.monthsList" ng-change="vm.filterExp()">
            </select>
            <select class="form-control" ng-model="vm.selectedYear" ng-options="year for year in vm.yearsList" ng-change="vm.filterExp()">
            </select>
        </div>
        <div class="dashboard-header__add-button">
            <button class="btn btn-primary" type="button" ng-click="vm.showAddNewExpenseModal()">Add New Expense</button>
        </div>
        <div class="dashboard-header__add-button-mobile">
            <button class="btn btn-primary" type="button" ng-click="vm.showAddNewExpenseModal()">+</button>
        </div>
    </div>

    <div class="dashboard-main container-fluid">
            <!--<h2>Dashboard</h2>-->
            <!--<p>Welcome user: {{vm.user.firstname}} {{vm.user.lastname}}</p>-->

            <!--<h2>History:</h2>-->
        <div ng-repeat="item in vm.filteredExpenses" class="dashboard-main__expense-item row">
            <div class="dashboard-main__expense-item__icon-wrapper col-lg-2">
                <!--Icon Category-->
                <i class="icon-category icon-cat-sample"></i>
                <!--<i class="icon category-{{item.categoryIcon}}"></i>-->
            </div>
            <div class="dashboard-main__expense-item__content col-lg-8">
                <div class="row">
                    <div class="col-lg-6">
                        <p>Category name: <span ng-if="!item.editMode">{{item.categoryName}}</span></p>
                        <select class="form-control" ng-model="item.categoryId" required ng-if="item.editMode">
                            <option ng-repeat="category in vm.categories" ng-value="category._id">{{category.name}}</option>
                        </select>

                        <p>Amount: <span ng-if="!item.editMode">{{item.amount}}</span></p>
                        <input type="number" class="form-control" ng-model="item.amount" ng-if="item.editMode">

                        <p>Vendor: <span ng-if="!item.editMode">{{item.vendor}}</span></p>
                        <input type="text" class="form-control" ng-model="item.vendor" ng-if="item.editMode">
                    </div>

                    <div class="col-lg-6">
                        <p>Expense date: <span ng-if="!item.editMode">{{item.expenseDate | date : 'dd MMMM yyyy'}}</span></p>
                        <input type="date" class="form-control" placeholder="Expense Date" ng-model="item.expenseDate" ng-if="item.editMode">

                        <p>Description: <span ng-if="!item.editMode">{{item.description}}</span></p>
                        <textarea class="form-control" placeholder="Description" ng-model="item.description" ng-if="item.editMode"></textarea>
                    </div>
                </div>
            </div>

            <div class="dashboard-main__expense-item__controllers col-lg-2">
                <p ng-if="!item.editMode" ng-click="vm.quickEditMode(item, true)">Edit</p>
                <p ng-if="!item.editMode" ng-click="vm.deleteExpense(item._id)">Delete</p>

                <p ng-if="item.editMode" ng-click="vm.quickEditMode(item, false)">Cancel</p>
                <p ng-if="item.editMode" ng-click="vm.editExpense(item)">Save</p>
            </div>
        </div>

        <div class="dashboard-main__empty-info" ng-if="vm.filteredExpenses.length === 0">There is no expenses.</div>
    </div>

    <!--<button class="btn btn-primary" type="button" ng-click="vm.logout()">Logout</button>
    <button class="btn btn-primary" type="button" ng-click="vm.userProfile()">User profile</button>-->
    <!--will be condensed on other pages-->
    <!--showed on the right side-->
</div>

<div class="dashboard-condensed col-lg-3">
    <h2>Month Data</h2>

    <div class="dashboard-condensed__category-info">
        <h4>Categories:</h4>

        <div class="" ng-repeat="category in vm.categoriesInMonth" ng-if="vm.categoriesInMonth.length > 0">
            <p>{{category.name}}: <span>{{category.amount}}</span></p>
        </div>

        <div class="dashboard-condensed__empty-info" ng-if="vm.categoriesInMonth.length === 0">There is no expenses included on this month.</div>
    </div>

    <h4 ng-if="vm.categoriesInMonth.length > 0">Total: {{vm.totalAmountOfMouth}}</h4>
</div>