<div class="dashboard-configuration-view col-lg-9">
    <!--main content-->
    <div class="dashboard-header">
        <h2 class="dashboard-header__title">Expenses</h2>
        <div class="dashboard-header__filterbox">
            <select class="form-control month-select" ng-model="vm.selectedMonth" ng-options="month for month in vm.mountsList" ng-change="vm.filterExp()">
            </select>
            <select class="form-control" ng-model="vm.selectedYear" ng-options="year for year in vm.yearsList" ng-change="vm.filterExp()">
            </select>
        </div>
    </div>

    <div class="dashboard-main container-fluid">
            <!--<h2>Dashboard</h2>-->
            <!--<p>Welcome user: {{vm.user.firstname}} {{vm.user.lastname}}</p>-->

            <!--<h2>History:</h2>-->
        <div ng-repeat="item in vm.filteredExpenses" class="dashboard-main__expense-item row">
            <div class="dashboard-main__expense-item__icon-wrapper col-lg-2">
                <!--Icon Category-->
                <i class="icon-category icon-cat-sample"></i>
                <!--<i class="icon category-{{item.categoryIcon}}"></i>-->
            </div>
            <div class="dashboard-main__expense-item__content col-lg-10">
                <div class="row">
                    <div class="col-lg-6">
                        <p>Category name: <span>{{item.categoryName}}</span></p>
                        <p>Amount: <span>{{item.amount}}</span></p>
                        <p>Vendor: <span>{{item.vendor}}</span></p>
                    </div>

                    <div class="col-lg-6">
                        <p>Expense date: <span>{{item.expenseDate | date : 'dd MMMM yyyy'}}</span></p>
                        <p>Description: <span>{{item.description}}</span></p>
                    </div>
                </div>
            </div>
        </div>

        <div ng-if="vm.filteredExpenses.length === 0">There is no expenses.</div>
    </div>

    <button class="btn btn-primary" type="button" ng-click="vm.logout()">Logout</button>
    <button class="btn btn-primary" type="button" ng-click="vm.addExpense()">Add New Expense</button>
    <button class="btn btn-primary" type="button" ng-click="vm.userProfile()">User profile</button>
    <!--will be condensed on other pages-->
    <!--showed on the right side-->
</div>

<div class="dashboard-condensed col-lg-3">
    <h2>Month Data</h2>
</div>