.modal{
  display: flex;
  background: rgba(0,0,0,.7);
  justify-content: center;

  &__box {
    background: $background-white;
    width: 500px;
    align-self: center;

    .header {
      padding: 20px;
      border-bottom: 2px solid $border-light-gray;

      .title {
        text-transform: uppercase;
        color: $font-gray;
        font-size: 16px;
        margin: 0;
      }
    }

    .content {
      padding: 20px;
    }

    .footer {
      display: flex;
      padding: 20px;
      border-top: 1px solid $border-light-gray;
      justify-content: space-between;
    }
  }
}

@media (max-width: 768px) {
  .modal {
    &__box {
      width: 350px;
    }
  }
}