<div class="auth">
    <div class="auth_background"></div>
    <div class="form-wrapper">
        <div class="form_header">
            <h2>Household Expenses</h2>
        </div>
        <div class="form_content">
            <div ng-if="vm.errorMessage" class="alert alert-danger">{{vm.errorMessage}}</div>
            <div ng-if="vm.message" class="alert alert-success">{{vm.message}}</div>

            <form ng-submit="vm.reset()" >
                <input type="password" class="form-control" placeholder="Password" ng-model="vm.password" required>

                <input type="password" class="form-control" placeholder="Password confirm" ng-model="vm.confirm" required>

                <input type="submit" class="btn btn-primary" value="Send"/>
            </form>
        </div>
        <div class="form_bottom">
            <p><a ng-href="/#!/login">Back to Login.</a></p>
        </div>
    </div>
</div>
