.auth {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .auth_background {
    background: url(/assets/img/login-background2.jpg);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1; }

.form-wrapper {
  width: 350px;
  background: #fff;
  -webkit-box-shadow: 5px 5px 30px 1px #797979;
  -moz-box-shadow: 5px 5px 30px 1px #797979;
  box-shadow: 5px 5px 30px 1px #797979; }
  .form-wrapper .form_header {
    background: #474644;
    color: #fff;
    padding: 20px; }
    .form-wrapper .form_header h2 {
      text-transform: uppercase;
      font-size: 22px;
      text-align: center;
      font-weight: 700;
      margin: 0; }
  .form-wrapper .form_content {
    padding: 20px; }
    .form-wrapper .form_content .form-control {
      border-radius: 0;
      margin-bottom: 5px; }
    .form-wrapper .form_content .btn {
      width: 100%;
      background: #45c9bc;
      text-transform: uppercase;
      margin-top: 20px;
      border: 0;
      border-radius: 0;
      font-weight: bold;
      padding: 12px; }
  .form-wrapper .form_bottom {
    background: #45c9bc;
    padding: 20px;
    color: #fff;
    text-align: center; }
    .form-wrapper .form_bottom p {
      margin: 0; }
    .form-wrapper .form_bottom a {
      color: #545454; }
    .form-wrapper .form_bottom .a {
      color: #545454;
      cursor: pointer; }
      .form-wrapper .form_bottom .a:hover {
        text-decoration: underline; }

.left-panel {
  width: 200px;
  position: fixed; }

.right-panel {
  margin-left: 200px; }

.navigation {
  height: 100%; }
  .navigation .navigation-panel {
    background: #454440;
    color: #fff;
    height: 100%; }

.dashboard-configuration-view {
  max-height: 100%;
  overflow-y: auto;
  padding-right: 0;
  padding-left: 0; }
  .dashboard-configuration-view .dashboard-header {
    height: 104px;
    border-bottom: 2px solid #e4e4dc;
    padding: 0 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center; }
    .dashboard-configuration-view .dashboard-header__title {
      text-transform: uppercase;
      color: #8b8a86;
      margin: 0;
      font-size: 24px;
      font-weight: 700;
      margin-right: 50px; }
    .dashboard-configuration-view .dashboard-header__filterbox {
      display: inline-flex; }
      .dashboard-configuration-view .dashboard-header__filterbox select {
        margin-right: 50px; }
  .dashboard-configuration-view .dashboard-main__expense-item {
    padding: 30px 20px;
    border-bottom: 1px solid #e4e4dc; }
    .dashboard-configuration-view .dashboard-main__expense-item__content p {
      text-transform: uppercase;
      font-weight: 700;
      color: #8b8a86; }
      .dashboard-configuration-view .dashboard-main__expense-item__content p span {
        text-transform: none;
        font-weight: normal;
        padding-left: 10px; }

.dashboard-condensed {
  padding-left: 0;
  padding: 20px;
  color: #fff;
  height: 100%;
  background: -webkit-linear-gradient(#46cabd, #28a5b9);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#46cabd, #28a5b9);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#46cabd, #28a5b9);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#46cabd, #28a5b9);
  /* Standard syntax */ }

body {
  font-family: "Open Sans", sans-serif; }

body, html {
  height: 100%; }
