.auth {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .auth_background {
    background: url(/assets/img/login-background2.jpg);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1; }

.form-wrapper {
  width: 350px;
  background: #fff;
  -webkit-box-shadow: 5px 5px 30px 1px #797979;
  -moz-box-shadow: 5px 5px 30px 1px #797979;
  box-shadow: 5px 5px 30px 1px #797979; }
  .form-wrapper .form_header {
    background: #474644;
    color: #fff;
    padding: 20px; }
    .form-wrapper .form_header h2 {
      text-transform: uppercase;
      font-size: 22px;
      text-align: center;
      font-weight: 700;
      margin: 0; }
  .form-wrapper .form_content {
    padding: 20px; }
    .form-wrapper .form_content .form-control {
      border-radius: 0;
      margin-bottom: 5px; }
    .form-wrapper .form_content .btn {
      width: 100%;
      background: #45c9bc;
      text-transform: uppercase;
      margin-top: 20px;
      border: 0;
      border-radius: 0;
      font-weight: bold;
      padding: 12px; }
  .form-wrapper .form_bottom {
    background: #45c9bc;
    padding: 20px;
    color: #fff;
    text-align: center; }
    .form-wrapper .form_bottom p {
      margin: 0; }
    .form-wrapper .form_bottom a {
      color: #545454; }
    .form-wrapper .form_bottom .a {
      color: #545454;
      cursor: pointer; }
      .form-wrapper .form_bottom .a:hover {
        text-decoration: underline; }

.left-panel {
  width: 200px;
  position: fixed; }

.right-panel {
  margin-left: 200px; }

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5; }

::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5; }

::-webkit-scrollbar-thumb {
  background-color: rgba(47, 47, 47, 0.69); }

.form-error-message {
  color: #dc3333;
  font-size: 12px;
  margin: 5px 0px 10px 12px; }

.icon-category {
  width: 60px;
  height: 60px;
  display: block; }

.icon-cat-sample {
  background: url(/assets/img/cat-icon.png); }

.categories-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  max-height: 210px;
  overflow: auto;
  margin: 15px 0; }
  .categories-wrapper .category-item {
    text-align: center;
    width: 100px;
    margin: auto;
    margin-top: 10px; }
    .categories-wrapper .category-item i {
      margin: auto;
      margin-bottom: 5px; }

.navigation {
  height: 100%; }
  .navigation .navigation-panel {
    background: #454440;
    color: #fff;
    height: 100%; }

.dashboard-configuration-view {
  max-height: 100%;
  overflow-y: auto;
  padding-right: 0;
  padding-left: 0; }
  .dashboard-configuration-view .dashboard-header {
    height: 104px;
    border-bottom: 2px solid #e4e4dc;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .dashboard-configuration-view .dashboard-header__title {
      text-transform: uppercase;
      color: #8b8a86;
      margin: 0;
      font-size: 24px;
      font-weight: 700;
      margin-right: 50px; }
    .dashboard-configuration-view .dashboard-header__filterbox {
      display: inline-flex; }
      .dashboard-configuration-view .dashboard-header__filterbox select {
        margin-right: 50px; }
      .dashboard-configuration-view .dashboard-header__filterbox .month-select {
        min-width: 150px; }
  .dashboard-configuration-view .dashboard-main__expense-item {
    padding: 30px 20px 20px 20px;
    border-bottom: 1px solid #e4e4dc; }
    .dashboard-configuration-view .dashboard-main__expense-item__icon-wrapper .icon-category {
      width: 60px;
      height: 60px;
      display: block; }
    .dashboard-configuration-view .dashboard-main__expense-item__icon-wrapper .icon-cat-sample {
      background: url(/assets/img/cat-icon.png); }
    .dashboard-configuration-view .dashboard-main__expense-item__content p {
      text-transform: uppercase;
      font-weight: 700;
      color: #8b8a86; }
      .dashboard-configuration-view .dashboard-main__expense-item__content p span {
        text-transform: none;
        font-weight: normal;
        padding-left: 10px; }
  .dashboard-configuration-view .dashboard-main__empty-info {
    text-align: center;
    padding: 30px;
    font-size: 18px; }

.dashboard-condensed {
  padding-left: 0;
  padding: 20px;
  color: #fff;
  height: 100%;
  background: -webkit-linear-gradient(#46cabd, #28a5b9);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#46cabd, #28a5b9);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#46cabd, #28a5b9);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#46cabd, #28a5b9);
  /* Standard syntax */ }
  .dashboard-condensed h2 {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase; }

.expense__add .expense-header {
  height: 104px;
  border-bottom: 2px solid #e4e4dc;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .expense__add .expense-header__title {
    text-transform: uppercase;
    color: #8b8a86;
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    margin-right: 50px; }

.expense__add .expense_content {
  padding-top: 30px; }
  .expense__add .expense_content__form-wrapper {
    max-width: 400px;
    margin: auto; }

.modal {
  display: flex;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center; }
  .modal__box {
    background: #fff;
    width: 500px;
    align-self: center; }
    .modal__box .header {
      padding: 20px;
      border-bottom: 2px solid #e4e4dc; }
      .modal__box .header .title {
        text-transform: uppercase;
        color: #8b8a86;
        font-size: 16px;
        margin: 0; }
    .modal__box .content {
      padding: 20px; }
    .modal__box .footer {
      display: flex;
      padding: 20px;
      border-top: 1px solid #e4e4dc;
      justify-content: space-between; }

body {
  font-family: "Open Sans", sans-serif; }

body, html {
  height: 100%; }
