<h1>Add Expense</h1>

<div class="container">
    <div class="form-wrapper" style="width: 400px; margin: auto; padding: 20px; border: 1px solid #d3d3d3;">
        <div ng-if="vm.errorMessage" class="alert alert-danger">{{vm.errorMessage}}</div>

        <form ng-submit="vm.add()" >
            <input type="text" class="form-control" placeholder="Vendor" ng-model="vm.expenseData.vendor">

            <input type="number" class="form-control" placeholder="Amount" ng-model="vm.expenseData.amount" required>

            <!--<input type="text" class="form-control" placeholder="Category Id" ng-model="vm.expenseData.categoryId" required>-->
            <select class="form-control" ng-model="vm.expenseData.categoryId" required>
                <option ng-repeat="category in vm.categories" ng-value="category._id">{{category.name}}</option>
            </select>

            <input type="date" class="form-control" placeholder="Expense Date" ng-model="vm.expenseData.expenseDate">

            <textarea class="form-control" placeholder="Description" ng-model="vm.expenseData.description"></textarea>

            <input type="submit" class="btn btn-primary" value="Add" style="margin: auto; display: block;"/>
        </form>
    </div>
</div>