.login {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &_background {
    background: url(/assets/img/login-background.jpg);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;

    -webkit-filter: blur(25px);
    -moz-filter: blur(25px);
    -o-filter: blur(25px);
    -ms-filter: blur(25px);
    filter: blur(25px);
  }

  .form-wrapper {
    width: 350px;

    .login_form_header{
      background: #474644;
      color: #fff;
      padding: 20px;

      h2{
        text-transform: uppercase;
        font-size: 22px;
        text-align: center;
        font-weight: 700;
        margin: 0;
      }
    }

    .login_form_bottom{
      background: #45c9bc;
      padding: 20px;
      color: #fff;
      text-align: center;

      p{
        margin: 0;
      }

      a{
        color: #545454;
      }

      .a {
        color: #545454;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .login_form_content{
      padding: 20px;

      .form-control{
        border-radius: 0;
        margin-bottom: 5px;
      }

      .btn {
        width: 100%;
        background: #45c9bc;
        text-transform: uppercase;
        margin-top: 20px;
        border: 0;
        border-radius: 0;
        font-weight: bold;
      }
    }

    background: #fff;

    -webkit-box-shadow: 0px 0px 76px 4px rgba(204,204,204,1);
    -moz-box-shadow: 0px 0px 76px 4px rgba(204,204,204,1);
    box-shadow: 0px 0px 76px 4px rgba(204,204,204,1);

  }
}
