<div class="auth">
    <div class="auth_background"></div>
    <div class="form-wrapper">
        <div class="form_header">
            <h2>Household Expenses</h2>
        </div>
        <div class="form_content">
            <div ng-if="vm.errorMessage" class="alert alert-danger">{{vm.errorMessage}}</div>

            <form ng-submit="vm.login()">
                <input type="email" class="form-control" placeholder="Email" ng-model="vm.username" required>

                <input type="password" class="form-control" placeholder="Password" ng-model="vm.password" required>

                <input type="submit" class="btn btn-primary" value="Login"/>
            </form>
        </div>
        <div class="form_bottom">
            <p><a ng-href="/#!/forgot">Forgot your password?</a></p>
            <p>Don't have an account? <span ng-click="vm.register()" class="a">Sing Up</span></p>
        </div>
    </div>
</div>