$background-gray: #454440;
$background-white: #fff;

$font-white: #fff;
$font-gray: #8b8a86;

$border-light-gray: #e4e4dc;

// Auth bg

.auth {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &_background {
    background: url(/assets/img/login-background2.jpg);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
}

// Auth forms

.form-wrapper {
  width: 350px;

  .form_header{
    background: #474644;
    color: #fff;
    padding: 20px;

    h2{
      text-transform: uppercase;
      font-size: 22px;
      text-align: center;
      font-weight: 700;
      margin: 0;
    }
  }

  .form_content{
    padding: 20px;

    .form-control{
      border-radius: 0;
      margin-bottom: 5px;
    }

    .btn {
      width: 100%;
      background: #45c9bc;
      text-transform: uppercase;
      margin-top: 20px;
      border: 0;
      border-radius: 0;
      font-weight: bold;
      padding: 12px;
    }
  }

  .form_bottom{
    background: #45c9bc;
    padding: 20px;
    color: #fff;
    text-align: center;

    p{
      margin: 0;
    }

    a{
      color: #545454;
    }

    .a {
      color: #545454;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  background: #fff;

  -webkit-box-shadow: 5px 5px 30px 1px #797979;
  -moz-box-shadow: 5px 5px 30px 1px #797979;
  box-shadow: 5px 5px 30px 1px #797979;

}

//panels

.left-panel {
  width: 200px;
  position: fixed;
}

.right-panel {
  margin-left: 200px;
}

//scrollbar

::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}
::-webkit-scrollbar
{
  width: 6px;
  background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb
{
  background-color: rgba(47, 47, 47, 0.69);
}