.navigation {
  height: 100%;

  .navigation-panel {
    background: $background-gray;
    color: $font-white;
    height: 100%;
  }
}

@media (max-width: 768px) {
  .navigation {
    height: 80px;

    .navigation-panel {
      background: $background-gray;
      color: $font-white;
      height: 80px;
    }
  }
}

